# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
electron-dist
# don't lint nyc coverage output
coverage
#electron
diagnostic-win32-x64

src/test.ts
!.eslintrc.js
