
$bg-primary: #BED2FF;
$bg-secondary: #7C9FAF;
$bg-lighter: #82A4B5;
$bg-darker: #252D35;
$bg-selected: #339ECC;
$fg-error: #E53935;
$fg-danger: #E53935;
$fg-warning: #F9A825;
$fg-secondary: #EEE;
$fg-darker: #90CAF9;
$fg-lighter: #FFF;
$fg-selected: #FFF;
$fg-ok: #689F38;
