@use '../../variables/colors'as colors;

@mixin custom-button() {
    .mat-primary[mat-icon-button] {
        color: colors.$bg-secondary !important;
    }

    .mat-primary[mat-raised-button],
    .mat-primary[mat-fab],
    .mat-primary[mat-mini-fab] {
        background-color: colors.$bg-secondary !important;
    }

    [mat-menu-item].with-icon,
    [mat-raised-button].with-icon {
        &:before {
            content: attr(data-icon);
            font-family: 'Material Icons';
            left: 0;
            position: absolute;
            text-align: center;
        }
    }

    [mat-menu-item].with-icon {
        padding-left: 3rem;

        &:before {
            width: 3rem;
            font-size: 130%;
            opacity: 0.85;
        }
    }

    [mat-raised-button].with-icon {
        padding-left: 2rem;

        &:before {
            width: 2rem;
        }
    }

    .mat-accent[mat-raised-button],
    .mat-accent[mat-fab],
    .mat-accent[mat-mini-fab] {
        background-color: colors.$bg-secondary !important;
    }

    .mat-accent[mat-raised-button] {
        padding-left: 30px;

        &:before {
            content: 'clear';
            font-family: 'Material Icons';
            left: 0;
            position: absolute;
            text-align: center;
            width: 30px;
        }
    }

    button[mat-icon-button],
    button[mat-button] {
        background: rgba(0, 0, 0, 0);
    }

    [mat-link] {
        cursor: pointer;
        font-size: 90%;
        color: colors.$bg-secondary;

        &:hover {
            color: colors.$fg-darker;
        }
    }
}
